<div class="feed-header">
  <h3>{{ userName }}</h3>
  <button mat-icon-button class="logout-btn" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div class="feed">
  <h2>Feed</h2>

  <div class="post-form">
    <textarea [(ngModel)]="newPost" placeholder="Escribe tu post aquí..." rows="4"></textarea>
    <button mat-raised-button color="primary" (click)="addPost()">Agregar Post</button>
  </div>

  <div *ngFor="let post of paginatedPosts" class="post">
    <div class="post-user">{{ post.author.username }}</div>
    <div class="post-content">{{ post.text }}</div>
    <div class="post-date">{{ post.createdAt | date: 'short' }}</div>

    <div class="post-actions" *ngIf="post.author._id === userId">
      <button mat-icon-button (click)="openEditDialog(post)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteDialog(post._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <br />
    <button mat-button color="accent" (click)="toggleComments(post._id)">
      <mat-icon>comment</mat-icon>
    </button>

    <div *ngIf="comments[post._id]" class="comments-section">
      <div *ngFor="let comment of comments[post._id]" class="comment">
        <p>
          <strong>{{ comment.author.username }}: </strong> {{ comment.text }}
        </p>
        <small>{{ comment.createdAt | date: 'short' }}</small>

        <div class="comment-actions">
          <button
            mat-icon-button
            color="primary"
            *ngIf="comment.author._id === userId"
            (click)="openEditCommentDialog(comment)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            *ngIf="post.author._id === userId || comment.author._id === userId"
            (click)="openDeleteCommentDialog(comment._id, post._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="add-comment">
        <input
          type="text"
          [(ngModel)]="newComment[post._id]"
          placeholder="Escribe un comentario..."
        />
        <button mat-icon-button color="primary" (click)="addComment(post._id)">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button mat-icon-button (click)="prevPage()" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>Página {{ currentPage }}</span>
    <button
      mat-icon-button
      (click)="nextPage()"
      [disabled]="currentPage * postsPerPage >= posts.length"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
